@media screen and (max-width: 640px) {
    .container-fluid {
        width: 100%;
        margin: 0 auto;
    }

    .container {
        max-width: 620px;
        margin: 0 15px;
    }

    header h1 {
        width: 100%;
        float: none;
        text-align: center;
        padding: 20px 0;
    }

    header nav {
        margin:0;
        padding:15px 0;
        text-align: center;
        float: none;
        width: 100%;
    }

    #about img {
        width: 100%;
        float:none;
        margin:0 0 10px 0;
    }

    #portfolio {
        text-align: center;
    }

    #portfolio .portfolio-item {
        margin: 15px auto;
        width: 100%;
    }

    #portfolio .portfolio-item:hover {

        margin: 10px 0;
    }

    #portfolio .portfolio-item img {
        width: 100%;
    }
}

@media screen and (min-width: 640px) {
    .container {
        max-width: 748px;
        margin: 0 15px;
    }
    .container-fluid {
        max-width: 748px;
        margin: 0 15px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
        margin: 0 15px;

    }
    .container-fluid {
        max-width: 960px;
        margin: 0 15px;
    }
}

@media screen and (min-width: 980px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .container-fluid {
        max-width: 960px;
        margin: 0 auto;
    }
}

