@import "reset.css";
@import "header.css";
@import "footer.css";

body {
  margin: 0;
  padding: 0;
  color: #777777;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: url("../images/dust_scratches.png") repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4aaaa5;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}
h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

textarea {
  resize: vertical;
}

.no-color {
  color: #777777;
}

.center {
  text-align: center;
}

a,
a:visited {
  position: relative;
  color: #777777;
  text-decoration: none;
}

a:hover,
a.active {
  color: #4aaaa5;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

hr {
  border: 1px solid #cccccc;
  margin: 0 0 20px 0;
}



/** START -- MAIN CONTENT **/
#content {

  margin-top: 20px;
  padding:25px 0 75px 0;
}


/** END -- MAIN CONTENT **/

.box {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);
  box-shadow: 0px 0px 5px 0px rgba(119,119,119,0.5);

}

.box h2 {
  margin: 0 0 20px 0;
}